
<a href="contacts/new">New</a>
<% @contacts.each do |contact|  %>


<div>
   <a href= "/contacts/edit?id=<%= contact.id%>">Edit</a>
   <%= contact.first_name %> 
   <%= contact.last_name %> 
   <%= contact.phone %> 
   <%= contact.email %>
   <%= contact.address %> 
   <%= contact.city %> 
   <%= contact.state %>
   <%= contact.zip %> 
</div>
<% end %>